
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="template/favicon.ico">

    <title>Life with Style</title>

    <link href="library/css/bootstrap.css" rel="stylesheet">
    <link href="template/css/carusel.css" rel="stylesheet">
    <link href="template/css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<header class="b-header">
    <nav class="navbar navbar-inverse navbar-fixed-top b-top-menu">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Life with Style</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
                <ul class="nav navbar-nav">
                    <li class=""><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div><!--/.navbar-collapse -->
        </div>
    </nav>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class=""></li>
            <li data-target="#myCarousel" data-slide-to="1" class=""></li>
            <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item">
                <img class="first-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="First slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Example headline.</h1>
                        <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img class="second-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Another example headline.</h1>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
                    </div>
                </div>
            </div>
            <div class="item active">
                <img class="third-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>One more for good measure.</h1>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</header><!-- .header-->

<div class="container marketing">

    <div class="row featurette">
        <div class="col-md-6">
            <div class="b-promo-text text-center">
                <h3 class="b-promo-text__title">It'll blow your mind.</h3>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla.</p>
            </div>
            <img class="featurette-image img-responsive center-block hidden-sm hidden-xs" src="" data-src="holder.js/580x376?auto=yes&bg=#ccc5ba" alt="" data-holder-rendered="true">
        </div>
        <div class="col-md-6">
            <img class="featurette-image img-responsive center-block" src="holder.js/580x752?auto=yes&bg=#ccc5ba" alt="" data-holder-rendered="true">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-6 col-md-push-6">
            <img class="featurette-image img-responsive center-block hidden-sm hidden-xs" src="holder.js/580x376?auto=yes&bg=#ccc5ba" alt="" data-holder-rendered="true">
            <div class="b-promo-text text-center">
                <h3 class="b-promo-text__title">It'll blow your mind.</h3>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla.</p>
            </div>
        </div>
        <div class="col-md-6 col-md-pull-6">
            <img class="featurette-image img-responsive center-block" src="" data-src="holder.js/580x752?auto=yes&bg=#ccc5ba" alt="" data-holder-rendered="true">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-6">
            <div class="b-promo-text text-center">
                <h3 class="b-promo-text__title">It'll blow your mind.</h3>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla.</p>
            </div>
            <img class="featurette-image img-responsive center-block hidden-sm hidden-xs" src="" data-src="holder.js/580x376?auto=yes&bg=#ccc5ba" alt="" data-holder-rendered="true">
        </div>
        <div class="col-md-6">
            <img class="featurette-image img-responsive center-block" src="holder.js/580x752?auto=yes&bg=#ccc5ba" alt="" data-holder-rendered="true">
        </div>
    </div>

    <hr class="featurette-divider visible-lg">

    <!-- Three columns of text below the carousel -->
    <div class="row visible-lg">
        <div class="col-lg-offset-1 col-lg-10 text-center b-img-grid">
            <div class="row">
                <img class="col-lg-4" src="holder.js/300x200?auto=yes&bg=#555" alt="">
                <div class="col-lg-4 b-img-grid__text-cell">
                    <h3>Cool stuff</h3>
                    <p class="">Lorem Ipsum</p>
                </div>
                <img class="col-lg-4" src="holder.js/300x200?auto=yes&bg=#555" alt="">
            </div>
            <div class="row">
                <div class="col-lg-4 b-img-grid__text-cell">
                    <h3>Cool stuff</h3>
                    <p class="">Lorem Ipsum</p>
                </div>
                <img class="col-lg-4" src="holder.js/300x200?auto=yes&bg=#555" alt="">
                <div class="col-lg-4 b-img-grid__text-cell">
                    <h3>Cool stuff</h3>
                    <p class="">Lorem Ipsum</p>
                </div>
            </div>
        </div>
    </div><!-- /.row -->

    <hr class="featurette-divider">

    <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>© 2016 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
    </footer>

</div>



<script src="template/js/holder.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="library/js/bootstrap.js"></script>
<script src="template/js/script.js"></script>
</body>
</html>
