* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
	width: 100%;
	height: 100%;
}
.wrapper {
	width: 1000px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}
.bold {
	font-weight: bold;
}

/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 100px;
	background: #FFE680;
}


/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 100%;
	padding: 0 0 100px;
	position: relative;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	width: 100%;
	float: left;
    min-height: 1px;
	overflow: hidden;
}
.content {
	padding: 0 0 0 150px;
}

.b-messages {

}
.b-system-error {
    background: pink;
    color: red;
}
.b-system-warnings {
    background: cornflowerblue;
    color: navy;;
}
.b-system-warning {

}


.b-menu .active {
	font-weight: bold;
}

.b-admin-table, .b-admin-table td, .b-admin-table th {
    border: 1px solid #000;
}
.b-admin-table td, .b-admin-table th {
    padding: 2px 4px;
}
.b-admin-table_requests td {
    max-width: 14em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.b-admin-table_questions td {
    max-width: 13em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
	float: left;
	width: 130px;
	margin-left: -100%;
	position: relative;
	background: #B5E3FF;
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
	width: 1000px;
	margin: -100px auto 0;
	height: 100px;
	background: #BFF08E;
	position: relative;
}