body {
    background: #e0dcd4;
    color: rgb(105, 104, 102);
}

.featurette-divider, .nav-divider {
    border-color: rgb(179, 177, 170);
}

/* Header
-----------------------------------------------------------------------------*/
.b-header {

}
.b-header a {

}
.b-header a:hover {

}

.b-top-menu.navbar-inverse,
.b-top-menu.navbar-inverse.navbar-collapse,
.b-top-menu.navbar-inverse .navbar-collapse {
    background: #3b3834;
    color: #9d9d9d;
}
.b-top-menu.navbar-inverse a {
    color: #9d9d9d;
}
.b-top-menu.navbar-inverse .navbar-nav > li > a:hover,
.b-top-menu.navbar-inverse .navbar-nav > li > a:focus {
    color: #d0d0d0;
}

.b-promo-text {
    min-height: 320px;
}
@media (max-width: 1199px) {
    .b-promo-text {
        min-height: 255px;
    }
}
.b-promo-text__title {
    padding-top: 70px;
}

.b-img-grid {

}
.b-img-grid__text-cell {
    padding-top: 30px;
}