<a href="<?= Router::route( [ 'task' => 'questions.add'] ); ?>">Добавить вопрос</a>
<br />
<table class="b-admin-table b-admin-table_questions">
    <tr>
        <th>Номер</th>
        <th>Вопрос</th>
        <th>Описание вопроса</th>
        <th>Ответ "да"</th>
        <th>Ответ"нет"</th>
        <th></th>
        <th></th>
    </tr>
    <?php foreach ( $params['questions'] as $item ): ?>
        <?php require __DIR__ . '/_question.phtml'; ?>
    <?php endforeach; ?>
</table>