<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <title></title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="template/css/style.css" rel="stylesheet">
    <script src="../library/js/jquery-2.2.3.min.js"></script>
    <script src="template/js/script.js"></script>
</head>

<body>

<div class="wrapper">

    <header class="header">
        <strong>Admin area</strong>
    </header><!-- .header-->

    <div class="middle">

        <div class="container">
            <main class="content">
                <div class="b-messages">
                    <!-- Messages -->
                    <?php if ( \ErrorReporter::getErrorMessage() ): ?>
                        <div class="b-system-error">
                            <?php echo '<b>Ошибка:</b> ' . htmlspecialchars( \ErrorReporter::getErrorMessage() ); ?>
                        </div><!-- .b-system-error-->
                    <?php endif; ?>
                    <?php if ( $warnings = \ErrorReporter::getWarnings() ):?>
                        <div class="b-system-warnings">
                            <?php foreach ( $warnings as $warning ): ?>
                                <div class="b-system-warning">
                                    <?php echo '<strong>Внимание!</strong> ' . htmlspecialchars( $warning ); ?>
                                </div><!-- .b-system-warning-->
                            <?php endforeach; ?>
                        </div><!-- .b-system-warnings-->
                    <?php endif; ?>
                </div><!-- .b-messages-->
                <?= $content; ?>
            </main><!-- .content -->
        </div><!-- .container-->

        <aside class="left-sidebar">
            <strong>Menu:</strong>
            <ul class="b-menu">
                <li class="<?= $module == 'requests' ? 'active' : ''; ?>"><a href="?task=requests">Заявки</a></li>
                <li class="<?= $module == 'questions' ? 'active' : ''; ?>"><a href="?task=questions">Вопросы</a></li>
            </ul>
        </aside><!-- .left-sidebar -->

    </div><!-- .middle-->

</div><!-- .wrapper -->

<footer class="footer">
    <strong>Footer</strong>
</footer><!-- .footer -->

</body>
</html>